body {
  font-family: Karla, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: -0.3px;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-weight: 700;
  text-align: left;
}

.login-page-wrapper {
  overflow: hidden;
  width: 100%;
}

.login-box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 5px;
  background-color: #fff;
}

.login-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  min-width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 16px;
}

.login-label {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 2px;
  opacity: 1;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.login-head {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 600;
}

.login-field {
  position: relative;
  height: 50px;
  margin-bottom: 15px;
  padding: 8px 15px 7px 45px;
  border-style: solid;
  border-width: 0.3px;
  border-color: hsla(0, 0%, 61.2%, 0.4);
  border-radius: 12px;
  background-color: #fff;
  font-size: 15px;
}

.login-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(78, 205, 129, 0.5);
  background-color: #fff;
}

.login-field::-webkit-input-placeholder {
  color: #b5b5c0;
  font-size: 15px;
}

.login-field:-ms-input-placeholder {
  color: #b5b5c0;
  font-size: 15px;
}

.login-field::-ms-input-placeholder {
  color: #b5b5c0;
  font-size: 15px;
}

.login-field::placeholder {
  color: #b5b5c0;
  font-size: 15px;
}

.login-field.letter-spacing {
  letter-spacing: 4px;
}

.login-field.letter-spacing.pass-margin {
  margin-bottom: 0px;
}

.login-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.login-container {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.error-message {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  margin-top: auto;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #ff0004;
  color: #fff;
  font-weight: 400;
  text-align: center;
  transition: .5s;
}

.login-page-link {
  color: #000;
  font-weight: 600;
}

.login-image {
  height: 40px;
}

.login-button {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding: 12px 40px 10px;
  border-radius: 12px;
  background-color: #29b152;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
}

.login-button:hover {
  background-color: #4ecd81;
}

.terms-text {
  margin-top: 20px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 11px;
  line-height: 24px;
  font-weight: 600;
}

.field-wrapper {
  position: relative;
  width: 100%;
  min-height: 30px;
}

.field-wrapper.first-name-wrapper {
  margin-right: auto;
  margin-left: auto;
}

.made-with-ms {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 100;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block {
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: 0;
  width: 30px;
  height: 30px;
  background-image: url('../images/Close.svg');
  background-position: 50% 50%;
  background-size: 12px 1000px;
  background-repeat: no-repeat;
}

.made-with-memberstack {
  overflow: hidden;
  width: 210px;
  float: right;
  clear: both;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(26, 39, 81, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.ms-image {
  position: relative;
  z-index: 2;
  min-width: 200px;
}

.memberstack-tag {
  position: absolute;
  top: -12px;
  right: -12px;
  display: block;
  overflow: hidden;
  width: 25px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6px;
  padding-left: 6px;
  border: 2px solid #f5f8fa;
  border-radius: 50%;
  background-color: #2aa8ff;
  box-shadow: 0 0 10px 1px #fff;
  font-family: Varela, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.memberstack-tag:hover {
  overflow: visible;
}

.memberstack-tag-label {
  position: absolute;
  top: -3px;
  right: 30px;
  width: 158px;
  padding-left: 12px;
  border-radius: 3px;
  background-color: #000;
}

.memberstack-diamond {
  position: absolute;
  top: 8px;
  right: -3px;
  bottom: 0px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: transparent;
}

.memberstack-bolt {
  margin-top: -6px;
}

.simple-form {
  position: relative;
  padding-top: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  font-family: Manrope, sans-serif;
  color: #272a2c;
  letter-spacing: 0px;
}

.subheading {
  margin-top: 5px;
  color: #272a2c;
  font-size: 13px;
}

.icon-field {
  position: absolute;
  left: 3%;
  top: 47%;
  right: auto;
  bottom: auto;
}

.icon-field.at {
  top: 57%;
}

.icon-field.lock {
  top: 55%;
}

.text-block {
  font-weight: 600;
}

.pass-info {
  color: rgba(51, 51, 51, 0.6);
  font-size: 11px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.whatyoucando {

}
.whatyoucando ul {
  
}
.whatyoucando li {
  color: #4ecd81;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 26px;
  list-style-type: none;
}
.whatyoucando li small{
  font-size: 12px;
  color: #CCC;
}
.title-whatcanido {
  margin-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
@media screen and (max-width: 991px) {
  .login-section {
    padding-left: 5%;
  }
}

@media screen and (max-width: 767px) {
  .login-box {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .login-section {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
  }

  .login-label {
    margin-bottom: 2px;
  }

  .login-head {
    font-size: 24px;
  }

  .login-field {
    font-size: 14px;
    line-height: 20px;
  }

  .login-field::-webkit-input-placeholder {
    font-size: 14px;
  }

  .login-field:-ms-input-placeholder {
    font-size: 14px;
  }

  .login-field::-ms-input-placeholder {
    font-size: 14px;
  }

  .login-field::placeholder {
    font-size: 14px;
  }

  .login-image {
    height: 40px;
  }

  .login-button {
    margin-top: 15px;
  }

  .made-with-memberstack {
    padding: 10px 18px;
    font-size: 12px;
  }

  .subheading {
    line-height: 20px;
  }

  .icon-field {
    top: 45%;
  }

  .icon-field.at {
    top: 56%;
  }

  .icon-field.lock {
    top: 54%;
  }
}

@media screen and (max-width: 479px) {
  .login-section {
    width: 100%;
    min-width: 0px;
    padding-bottom: 50px;
  }

  .login-head {
    font-size: 20px;
  }

  .login-field {
    font-size: 14px;
    line-height: 20px;
  }

  .login-field::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .login-field:-ms-input-placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .login-field::-ms-input-placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .login-field::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .login-container {
    min-width: 0px;
  }

  .subheading {
    line-height: 20px;
  }

  .icon-field {
    top: 45%;
  }

  .icon-field.at {
    top: 56%;
  }

  .icon-field.lock {
    top: 54%;
  }
}

